body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(background3.png);
    background-size: 100%;
    background-position: center top;
}

.container{
 /* display: flex;*/
  justify-content: center;
  align-items: center;
}
.container2{
  /* display: flex;*/
  background-color:  rgb(255, 255, 255);
  opacity: 0.65;
  border-radius: 50px;
  position: absolute;
  width: 200px;
  right:1300px;
  top:-10px;
  height: 200px;
  /*justify-content: center;
  align-items: center;*/
}
.container span{
   display: block;
   position: relative;
    top:-100px;
    color:rgb(83, 70, 119);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    margin-top: 20px;
    /*position: absolute;*/
    /*left: calc(50% - 100px);*/
    visibility: hidden;
   
}
.container .result{
  display: block;
   position: absolute;
   opacity: 0.8;
   top:200px;
   left:550px;
    color:rgb(189, 93, 93);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    visibility: hidden;
}
.container2 span{
   display: block;
   position: relative;
    color:rgb(58, 54, 68);
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 20px;
    /*position: absolute;*/
    /*left: calc(50% - 100px);*/
    visibility: hidden;
}

.container h1 {
  display: block;
  opacity: 0.8;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  top: -50px;
  left: 20px;
  color: rgb(247, 248, 253);
}


.container button{
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: 0.95;
  background-color: #f5f8fa;
  border: 2px solid  #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 20px;
  color: rgb(101, 108, 175);
  font-size: 40px;
  margin-top: 80px;
  top: 400px;
  left: 700px;
  width: 100px;
  height: 80px;
}
.container .button2{
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: 0.5;
  background-color: #f5f8fa;
  border: 2px solid  #ffffff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 20px;
  color: rgb(101, 108, 175);
  font-size: 30px;
  margin-top: 80px;
  top: 400px;
  left: 550px;
  width: 360px;
  height: 80px;
}
.container3 button{
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: 0.95;
  background-color: #dcedfcf6;
  border: 2px solid  #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 20px;
  color: rgb(209, 121, 121);
  font-size: 40px;
  margin-top: 80px;
  top: 200px;
  left: 650px;
  width: 200px;
  height: 90px;
}
.answer_container{
  cursor: pointer;
  display: block;
  position: absolute;
  top: 220px;
  left: 630px;
  width: 350px;
  height: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 20px;
  color: rgb(101, 108, 175);
  font-size: 50px;
}
 
.form{
  text-align:center;
  display: block;
  position: absolute;
  top: 350px;
  left: 670px;

}
.form div {
  margin-top: 15%;
  border-radius: 10px;
  background-color: rgb(79, 117, 114);
  color:rgb(248, 248, 247);
  cursor: pointer;
}

.form .form-input {
  border-radius: 10px;
  color:#afa9e7f6;
  width: 150px;
  height: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 200%;
}

.back-btn{
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: 0.7;
  background-color: #f5f8fa;
  border: 2px solid  #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 300px;
  color: rgb(101, 108, 175);
  font-size: 20px;
  top: 500px;
  left: 650px;
  width: 180px;
  height: 80px;
}

 
